@import "normalize-scss";
@import "./../colors/colors";
@import "./../typography/typography.scss";
@import "./../css-variables/css-variables";
// @import "font-awesome/scss/font-awesome";
// $fa-font-path: "font-awesome/fonts";


* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: color('white');
}


html {
  @include typeface(helvetica);
  @include typeset(text);
}
